<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div id="container">
    <div id="header">
        <h1>Mapping program</h1>
    </div>

    <div id="sidebar-left">
        <table class="table" id="table1">
            <colgroup>
                <col width="48px"/>
                <col width="96px"/>
                <col width="282px"/>
                <col width="48px"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">영문필드명</th>
                <th scope="col">한글필드명</th>
                <th scope="col">길이</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${data1}">
                <td scope="row" th:text="${data.no}"></td>
                <td th:text="${data.english_field}"></td>
                <td th:text="${data.korean_field}"></td>
                <td th:text="${data.length}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <ul class="col-lg-12" id="ex1_Result1"></ul>
        <ul id="test" style="width:100px; height:30px;"></ul>
    </div> <!-- side left-->

    <svg id="draw" class="canvas"></svg>

    <div id="sidebar-right">
        <table class="table" id="table2">
            <colgroup>
                <col width="48px"/>
                <col width="96px"/>
                <col width="282px"/>
                <col width="48px"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">영문필드명</th>
                <th scope="col">한글필드명</th>
                <th scope="col">길이</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${data2}">
                <td scope="row" th:text="${data.no}"></td>
                <td th:text="${data.english_field}"></td>
                <td th:text="${data.korean_field}"></td>
                <td th:text="${data.length}"></td>
            </tr>
            </tbody>
        </table>
        <br>

        <!--            <span class="btn">매핑</span>-->
        <input type="button" id="automapping" value="자동매핑" onclick="autoMapping()" style="width:20%; float:right;"/>
        <input type="button" id="showResult" value="결과보기" onclick="showResult()" style="width:20%; float:right;"/>
        <input type="button" id="pageClear" value="초기화" onclick="pageClear()" style="width:20%; float:right;"/>

        <br>
        <ul class="col-lg-12" id="ex1_Result2"></ul>
        <ul id="test2" style="width:100px; height:30px;"></ul>
    </div> <!-- side right-->

    <div id="footer">
        <h1>Mapping Result</h1>
    </div>
    <span id="footer-sidebar-left">
                <table class="table" id="table3">
                    <colgroup>
                        <col width="48px"/>
                        <col width="96px"/>
                        <col width="282px"/>
                        <col width="48px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">영문필드명</th>
                        <th scope="col">한글필드명</th>
                        <th scope="col">길이</th>
                    </tr>
                    </thead>
                    <tbody id="table3body">
                    </tbody>
                </table>
            </span>

    <span id="footer-sidebar-right">
                <table class="table" id="table4">
                    <colgroup>
                        <col width="48px"/>
                        <col width="96px"/>
                        <col width="282px"/>
                        <col width="48px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">영문필드명</th>
                        <th scope="col">한글필드명</th>
                        <th scope="col">길이</th>
                    </tr>
                    </thead>
                    <tbody id="table4body">
                    </tbody>
                </table>
            </span>

</div> <!--    container   -->

</body>
</html>

<script>
        <!-- 전역 변수 -->
        var y1 = 0;
        var y2 = 0;
        var clickTable1 = 0;
        var clickTable2 = 0;
        var mode = 'normal';
        var isDrawComplete = false;
        const svg = d3.select(".canvas");
        var table1 = new Array();
        var table2 = new Array();
        var table1Obj = {};
        var table2Obj = {};
        var height1 = new Array();
        var height2 = new Array();
        var html1 = '';
        var html2 = '';
        (window.onload = function() {  // 화면이 뜬 뒤 처리

              var obj1 = document.getElementById('sidebar-left');
              var obj2 = document.getElementById('sidebar-right');
              var obj3 = document.getElementById('draw');
              var obj1_height = obj1.offsetHeight;
              var obj2_height = obj2.offsetHeight;
              var max = Math.max(obj1_height,obj2_height);

              obj3.style.height = max + 'px';
        })();

        <!-- 테이블 tr에 마우스 올려두었을 때 색 변경-->
        $( "#table1 tr, #table2 tr" ).on( "mouseover", function() {
            $( this ).css( "background-color", "#f4f4f4" );
            $( this).children("td").css( "cursor", "pointer" );
        });
        <!--  마우스가 영역 벗어날 때 색 변경 -->
        $( "#table1 tr, #table2 tr" ).on( "mouseleave", function() {
            $( this ).css( "background-color", "white" );
        });

            <!--테이블의 Row 클릭시 값 가져오기-->
		$("#table1 tbody tr").click(function(e){

            if(mode == 'auto'){
                alert("초기화를 먼저 진행해주세요");
            }
            else if(isDrawComplete == true){
                alert("이미 매핑된 결과가 있습니다. 초기화 후 다시 시도해주세요.")
            }
            else{

                <!--현재 클릭된 Row(<tr>)-->
                var tr = $(this);
                var td = tr.children();

                var height = parseInt(tr.offset().top + tr.height() /2);
                y1 = height;
                if(height1.includes(y1)){
                    alert("이미 선택된 행 입니다.");
                }
                else{
                    if(clickTable1 == 0 && clickTable2 == 1){
                        height1.push(y1);
                        height2.push(y2);
                        table1Obj = createObj(tr, table1Obj);
                        table1.push(table1Obj);
                        table2.push(table2Obj);
                        clickTable1 = 0;
                        clickTable2 = 0;
                        table1Obj = {};
                        table2Obj = {};
                        drawLine(y1,y2);
                    }
                    else if(clickTable2 == 0){
                        table1Obj = createObj(tr, table1Obj);
                        console.log(table1Obj);
                        clickTable1 = 1;
                    }
                }

                console.log(table1);
                console.log(table2);
                $("#ex1_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());

            }

		});

        <!--테이블의 Row 클릭시 값 가져오기-->
		$("#table2 tbody tr").click(function(e){
            if(mode == 'auto'){
                alert("초기화를 먼저 진행해주세요");
            }
            else if(isDrawComplete == true){
                alert("이미 매핑된 결과가 있습니다. 초기화 후 다시 시도해주세요.")
            }
            else{
                <!--현재 클릭된 Row(<tr>)-->
                var tr = $(this);
                var td = tr.children();
                var height = parseInt(tr.offset().top + tr.height() /2);
                y2 = height;
                if(height2.includes(y2)){
                    alert("이미 선택된 행 입니다.");
                }
                else{
                    if(clickTable1 == 1 && clickTable2 == 0){
                        height1.push(y1);
                        height2.push(y2);
                        table2Obj = createObj(tr, table2Obj);
                        table1.push(table1Obj);
                        table2.push(table2Obj);
                        clickTable1 = 0;
                        clickTable2 = 0;
                        table1Obj = {};
                        table2Obj = {};
                        drawLine(y1,y2);
                        }
                    else if(clickTable1 == 0){
                        table2Obj = createObj(tr, table2Obj);
                        console.log(table2Obj);
                        clickTable2 = 1;
                    }
                }

                 console.log(table1);
                 console.log(table2);
                 $("#ex1_Result2").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());
            }
        });

        <!--  테이블 row의 데이터를 가져오는 함수      -->
        function createObj(tr,obj){
            var td = tr.children();
            console.log("Row의 모든 데이터 : "+tr.text());
            console.log(td);
            <!--td.eq(index)를 통해 값을 가져옴-->
            var no = td.eq(0).text();
            var english_field = td.eq(1).text();
            var korean_field = td.eq(2).text();
            var length = td.eq(3).text();

            obj['no'] = no;
            obj['english_field'] = english_field;
            obj['korean_field'] = korean_field;
            obj['length'] = length;
            return obj
        }

        function getTableElement(tr ,table){
                var obj = {};
                console.log("obj 값: "+ obj)
                obj = createObj(tr,obj);
                table.push(obj);
                return table;
        }

        <!--  화면 초기화를 위한 함수      -->
		function pageClear(){
            d3.selectAll(".line").remove();
            table1 = [];
            table2 = [];
            html1 = '';
            html2 = '';
            mode = 'normal';
            height1 = [];
            height2 = [];
            y1=0;
            y2=0;
            clickTable1 = 0;
            clickTable2 = 0;
            isDrawComplete = false;
            console.log(table1);
            console.log(table2);
            $("#ex1_Result1").html("");
            $("#ex1_Result2").html("");
            $("#table3body").empty();
            $("#table4body").empty();
        }
        <!-- 자동매핑 함수 -->
        function autoMapping(){
            if(mode =='normal'){
                d3.selectAll(".line").remove();
                mode = 'auto';
                table1 = [];
                table2 = [];
                height1 = [];
                height2 = [];
                y1 = 0;
                y2 = 0;

            }
            html1 = '';
            html2 = '';
            var table1List = new Array();
            var table2List = new Array();
            var common1 = new Array();
            var common2 = new Array();
            var remain1 = new Array();
            var remain2 = new Array();
            var totalY1 = new Array();
            var totalY2 = new Array();
            var tableY1 = new Array();
            var tableY2 = new Array();

            var index = 0;

            <!-- 테이블의 tr을 돌며 y 좌표와 데이터값을 가져옴-->
            $('#table1 tr').each(function(){
                if(index ==0){
                    index++;
                }
                else{
                    var tr = $(this);
                    var td = tr.children();
                    var flag = true;
                    var height = parseInt(tr.offset().top + tr.height() /2);
                    console.log(height);
                    totalY1.push(height);
                    table1List = getTableElement(tr,table1List);
                    }

            });

            index = 0;

            $('#table2 tr').each(function(){
                if(index ==0){
                    index++;
                }
                else{
                        var tr = $(this);
                        var td = tr.children();
                        var flag = true;
                        var height = parseInt(tr.offset().top + tr.height() /2);
                        totalY2.push(height);
                        console.log(height);
                        table2List = getTableElement(tr, table2List);
                       }
                 });
                <!--  공통 요소값을 저장 -->
                for(var i = 0; i< table1List.length ; i++){
                    for(var j =0; j< table2List.length ; j++){
                        if(table1List[i].english_field == table2List[j].english_field){
                            common1.push(table1List[i]);
                            common2.push(table2List[j]);
                            tableY1.push(totalY1[i]);
                            tableY2.push(totalY2[j]);
                            break;
                        }
                    }
                }

                <!--공통 요소들을 영문필드 명으로 정렬-->
                common1.sort(function(a,b){
                    var eng_fieldA = a.english_field.toLowerCase();
                    var eng_fieldB = b.english_field.toLowerCase();
                    if(eng_fieldA < eng_fieldB){
                        return -1;
                    }
                    if(eng_fieldA > eng_fieldB){
                        return 1;
                    }
                    return 0;
                });

                common2.sort(function(a,b){
                    var eng_fieldA = a.english_field.toLowerCase();
                    var eng_fieldB = b.english_field.toLowerCase();
                    if(eng_fieldA < eng_fieldB){
                        return -1;
                    }
                    if(eng_fieldA > eng_fieldB){
                        return 1;
                    }
                    return 0;
                });

                console.log(common1);
                console.log(common2);

                <!-- 나머지 데이터들 가져옴   -->
                getRemain(table1List,common1,remain1);
                getRemain(table2List,common2,remain2);

                console.log(remain1);
                console.log(remain2);

                <!-- result 테이블에 결과 출력 -->
                html1=createTBody(common1, remain1, html1);
                $("#table3body").empty();
                $("#table3body").append(html1);

                html2 = createTBody(common2, remain2, html2);
                $("#table4body").empty();
                $("#table4body").append(html2);

                for(var i = 0; i< tableY1.length ; i++){
                    drawLine(tableY1[i],tableY2[i]);
                }
            }

            <!-- 공통된 요소가 아니라면 나머지요소 배열에 데이터 추가  -->
            function getRemain(tableList, common, remain){
                for(var i =0; i< tableList.length ; i++){
                    var flag = false;
                    for(var j =0 ; j< common.length ; j++){
                        if(tableList[i].english_field == common[j].english_field){
                            flag = true;
                            break;
                        }
                    }
                if(flag == false){
                    remain.push(tableList[i]);
                    }
                }
            }

            function createTBody(common, remain, html){
                for(key in common){
                        html += '<tr style="background-color: #bbdefb;">';
                        html += '<td>'+common[key].no+'</td>';
                        html += '<td>'+common[key].english_field+'</td>';
                        html += '<td>'+common[key].korean_field+'</td>';
                        html += '<td>'+common[key].length+'</td>';
                        html += '</tr>';
                    }
                for(key in remain){
                        html += '<tr>';
                        html += '<td>'+remain[key].no+'</td>';
                        html += '<td>'+remain[key].english_field+'</td>';
                        html += '<td>'+remain[key].korean_field+'</td>';
                        html += '<td>'+remain[key].length+'</td>';
                        html += '</tr>';
                    }
                    return html;
                }
            <!-- d3.js를 이용해 좌표를 받아 선을 그려줌 -->
            function drawLine(table1Y, table2Y){
                    console.log(table1Y+" "+ table2Y);

<!--                    if(table1Y == 0 || table2Y ==0 ){-->
<!--                        alert("매핑실패! 초기화 후 다시 시도하세요.");-->
<!--                        table1 = [];-->
<!--                        table2 = [];-->
<!--                        height1 = [];-->
<!--                        height2 = [];-->
<!--                    }-->
<!--                    else{-->
                    svg.append("line")
                        .attr("x1",2)
                        .attr("x2",435)
                        .attr("y1",table1Y-200+35)
                        .attr("y2",table2Y-200+35)
                        .attr("stroke","red")
                        .attr("class","line")

<!--                        }-->
                    y1 = 0;
                    y2 = 0;

                    console.log(y1+" "+ y2);
                 }
            <!-- 결과보기 버튼 -->
            function showResult(){

                html1 = '';
                html2 = '';

                if(mode=='auto'){
                    alert("초기화 후 매핑부터 시작해주세요.");
                  }
                else if(table1.length == 0 && table2.length == 0){
                    alert("테이블 매핑 먼저 진행해 주세요");
                    $("#table3body").empty();
                    $("#table4body").empty();
                }
<!--                else if(table1.length != table2.length){-->
<!--                    alert("매핑 개수가 틀립니다. 처음부터 다시 매핑해주세요");-->
<!--                    d3.selectAll(".line").remove();-->
<!--                    table1 = [];-->
<!--                    table2 = [];-->
<!--                    height1 = [];-->
<!--                    height2 = [];-->
<!--                    y1 = 0; y2 = 0;-->
<!--                    $("#table3body").empty();-->
<!--                    $("#table4body").empty();-->
<!--                }-->
                else{
                    var table1Remain = new Array();
                    var table2Remain = new Array();
                    var index = 0;

                    $('#table1 tr').each(function(){
                        if(index ==0){
                            index++;
                        }

                    else{
                        var tr = $(this);
                        var td = tr.children();
                        var flag = true;

                        var no = td.eq(0).text();
                        var english_field = td.eq(1).text();
                        var korean_field = td.eq(2).text();
                        var length = td.eq(3).text();

                        for(var i =0; i< table1.length ; i++){
                            if(english_field == table1[i].english_field){
                            flag = true;
                                break;
                            }else{
                                    flag = false;
                                }
                            }

                            if(flag == false){
                                var obj = {};
                                obj['no'] = no;
                                obj['english_field'] = english_field;
                                obj['korean_field'] = korean_field;
                                obj['length'] = length;
                                table1Remain.push(obj);
                            }
                            index++;
                        }
                });

                index = 0;

                $('#table2 tr').each(function(){
                    if(index ==0){
                        index++;

                    }
                    else{
                        var tr = $(this);
                        var td = tr.children();
                        var flag = true;

                        var no = td.eq(0).text();
                        var english_field = td.eq(1).text();
                        var korean_field = td.eq(2).text();
                        var length = td.eq(3).text();
                        for(var i =0; i< table2.length ; i++){
                                    if(english_field == table2[i].english_field){
                                    flag = true;
                                        break;
                                    }else{
                                            flag = false;
                                        }
                                    }

                                    if(flag == false){
                                        var obj = {};
                                        obj['no'] = no;
                                        obj['english_field'] = english_field;
                                        obj['korean_field'] = korean_field;
                                        obj['length'] = length;
                                        table2Remain.push(obj);
                                    }
                                    index++;
                                }

                        });
        <!--        english_field기준으로 정렬-->

                table1.sort(function(a,b){
                    var eng_fieldA = a.english_field.toLowerCase();
                    var eng_fieldB = b.english_field.toLowerCase();
                    if(eng_fieldA < eng_fieldB){
                        return -1;
                    }
                    if(eng_fieldA > eng_fieldB){
                        return 1;
                    }
                    return 0;
                });

                table2.sort(function(a,b){
                    var eng_fieldA = a.english_field.toLowerCase();
                    var eng_fieldB = b.english_field.toLowerCase();
                    if(eng_fieldA < eng_fieldB){
                        return -1;
                    }
                    if(eng_fieldA > eng_fieldB){
                        return 1;
                    }
                    return 0;
                });
                html1 = createTBody(table1, table1Remain,html1);
                $("#table3body").empty();
                $("#table3body").append(html1);

                html2 = createTBody(table2, table2Remain, html2);

                $("#table4body").empty();
                $("#table4body").append(html2);
                isDrawComplete = true;
                }

            }
</script>