<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Mapping program</h1>
        </div>

        <div id="sidebar-left">
            <table class="table" id="table1" >
                <colgroup >
                    <col width="48px"/>
                    <col width="96px"/>
                    <col width="282px"/>
                    <col width="48px"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">영문필드명</th>
                    <th scope="col">한글필드명</th>
                    <th scope="col">길이</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${data1}" >
                    <td scope="row" th:text="${data.no}"></td>
                    <td th:text="${data.english_field}"></td>
                    <td th:text="${data.korean_field}"></td>
                    <td th:text="${data.length}"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <ul class="col-lg-12" id="ex1_Result1" ></ul>
            <ul id = "test" style="width:100px; height:30px;"></ul>
        </div> <!-- side left-->

<!--        <div id="draw" >-->
            <svg id="draw">
<!--            <svg width="438px" height="400px" >-->
                <line id ="line"  stroke="red" stroke-width="3" ></line>
            </svg>
<!--        </div> &lt;!&ndash; draw &ndash;&gt;-->

        <div id="sidebar-right">
            <table class="table" id="table3">
                <colgroup >
                    <col width="48px"/>
                    <col width="96px"/>
                    <col width="282px"/>
                    <col width="48px"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">영문필드명</th>
                    <th scope="col">한글필드명</th>
                    <th scope="col">길이</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${data2}" >
                    <td scope="row" th:text="${data.no}"></td>
                    <td th:text="${data.english_field}"></td>
                    <td th:text="${data.korean_field}"></td>
                    <td th:text="${data.length}"></td>
                </tr>
                </tbody>
            </table>
            <br>

<!--            <span class="btn">매핑</span>-->
            <input type = "button" id="mapping" value="매핑" onclick="drawLine()" style = "width:20%; float:right;"/>
            <input type = "button" id="automapping" value="자동매핑" onclick="visibleTable()" style = "width:20%; float:right;"/>

            <ul class="col-lg-12" id="ex1_Result2" ></ul>
            <ul id = "test2" style="width:100px; height:30px;"></ul>
        </div> <!-- side right-->

        <div id="footer">
            <h1>Mapping Result</h1>
        </div>
            <span id="footer-sidebar-left">
                <table class="table" id="table2" style="visibility:hidden;">
                    <colgroup >
                        <col width="48px"/>
                        <col width="96px"/>
                        <col width="282px"/>
                        <col width="48px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">영문필드명</th>
                        <th scope="col">한글필드명</th>
                        <th scope="col">길이</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${commonData1}" >
                        <td scope="row" th:text="${data.no}"></td>
                        <td th:text="${data.english_field}"></td>
                        <td th:text="${data.korean_field}"></td>
                        <td th:text="${data.length}"></td>
                    </tr>
                    <tr th:each="data : ${remain1}" >
                        <td scope="row" th:text="${data.no}"></td>
                        <td th:text="${data.english_field}"></td>
                        <td th:text="${data.korean_field}"></td>
                        <td th:text="${data.length}"></td>
                    </tr>
                    </tbody>
                </table>
            </span>

            <span id="footer-sidebar-right">
                <table class="table" id="table4" style="visibility:hidden;">
                    <colgroup >
                        <col width="48px"/>
                        <col width="96px"/>
                        <col width="282px"/>
                        <col width="48px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">영문필드명</th>
                        <th scope="col">한글필드명</th>
                        <th scope="col">길이</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${commonData2}" >
                        <td scope="row" th:text="${data.no}"></td>
                        <td th:text="${data.english_field}"></td>
                        <td th:text="${data.korean_field}"></td>
                        <td th:text="${data.length}"></td>
                    </tr>
                    <tr th:each="data : ${remain2}" >
                        <td scope="row" th:text="${data.no}"></td>
                        <td th:text="${data.english_field}"></td>
                        <td th:text="${data.korean_field}"></td>
                        <td th:text="${data.length}"></td>
                    </tr>
                    </tbody>
                </table>
            </span>

    </div> <!--    container   -->






</body>
</html>

<script>
        line = $('#line');
        var x1;
        var y1;
        var x2;
        var y2;
        $("#draw").click(function(e){
			x1 = e.pageX;
			y1 = e.pageY;

			var test = x1+" "+ y1;
            document.getElementById("test3").innerHTML = test;

		});
    // 테이블의 Row 클릭시 값 가져오기
		$("#table1 tr").click(function(e){

			var str = ""
			var tdArr = new Array();	// 배열 선언

			x1 = e.pageX;
			y1 = e.pageY;

			var test = x1+" "+ y1;
            document.getElementById("test").innerHTML = test;
			// 현재 클릭된 Row(<tr>)
			var tr = $(this);
			var td = tr.children();

			// tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
			console.log("클릭한 Row의 모든 데이터 : "+tr.text());

			// 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
			td.each(function(i){
				tdArr.push(td.eq(i).text());
			});

			console.log("배열에 담긴 값 : "+tdArr);

            // td.eq(index)를 통해 값을 가져옴
            var no = td.eq(0).text();
            var english_field = td.eq(1).text();
            var korean_field = td.eq(2).text();
            var length = td.eq(3).text();

            $("#ex1_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());
		});

		// 테이블의 Row 클릭시 값 가져오기
		$("#table3 tr").click(function(e){

			var str = ""
			var tdArr = new Array();	// 배열 선언

            x2 = e.pageX;
			y2 = e.pageY;

			var test = x2+" "+ y2;
            document.getElementById("test2").innerHTML = test;

			// 현재 클릭된 Row(<tr>)
			var tr = $(this);
			var td = tr.children();

			// tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
			console.log("클릭한 Row의 모든 데이터 : "+tr.text());

			// 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
			td.each(function(i){
				tdArr.push(td.eq(i).text());
			});

			console.log("배열에 담긴 값 : "+tdArr);

			$("#ex1_Result2").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());

		});


    function visibleTable(){
        table2.style.visibility="visible";
        table4.style.visibility="visible";

    }
    function drawLine(){

                line
                     .attr('x1',2)
                     .attr('y1',y1-200+35)
                     .attr('x2', 435)
                     .attr('y2',y2-200+35);

<!--            line-->
<!--                .attr('x1', 625)-->
<!--                .attr('y1',y1)-->
<!--                .attr('x2',1050)-->
<!--                .attr('y2',y2)-->

<!--            var line = document.getElementById('line')-->
<!--            line.x1.baseVal.value = 625;-->
<!--            line.y1.baseVal.value = y1;-->
<!--            line.x2.baseVal.value = 1050;-->
<!--            line.y2.baseVal.value = y2;-->
<!--            console.log(line);-->
    }


</script>